body{
    background-image: linear-gradient( 0deg, white, #f5e5ba );
    font-size: 20px;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100vh;
}
p{
    text-align: justify;
}
a:link {
    color: #c8a000;
    text-decoration: none;
}
a:visited {
    color: #8a6e00;
    text-decoration: none;
}
a:hover {
    color: #c8a000;
    text-decoration: underline;
}
a:active {
    color: #ff8c00;
    text-decoration: underline;
}
a[href^="http"] {
    background-color: #fff3b0;
}
p:last-child {
    text-align: right;
}


#topo {
    background-color: #ffffff44;
    box-shadow: 4px 4px 4px #0003;
    padding: 30px;
}
img[src*="logomarca"]{
   display: block;
  margin-left: auto;
  margin-right: auto;
}
.curiosidade {
    margin-right: 20px;
    background-image: url(imgs/favo-de-mel.png);
    border: 1px solid #c8a000;
    
}
.curiosidade > img {
    float: left;
    margin-right: 20px;
}
.casta-de-abelha {
    border-radius: 50%;
    border: 5px double #c8a000;
}
.esquerda {
    float: left;
    margin-right: 20px;
}
.direita {
    float: right;
    margin-left: 20px;
}
#curiosidade-rainha {
    clear: left;
}